  .btn {
    background-color: #f1c232;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.4s;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
  }

  .btn:hover {
    background-color: #002252;
    color: #f1c232;
  }
