    #sidebar-wrapper{Display: none;}
    #main-wrapper {width:100%; }

  /* CSS untuk div yang akan muncul di bawah 500px */
  .responsive-div {
    display: none; /* Defaultnya div tersembunyi */
  }

  /* Media query untuk layar dengan lebar kurang dari atau sama dengan 500px */
  @media only screen and (max-width: 520px) {
    .responsive-div {
      display: block; /* Menampilkan div ketika lebar layar kurang dari atau sama dengan 500px */
      background-color: #f1c232;
      border-radius: 10px 10px 0px 0px;
      width: 100%; /* Ukuran lebar div */
      height: auto; /* Ukuran tinggi div */
    }
  }

/* Style untuk div */
.custom-div {
  width: 100%;
  height: auto;

}

/* Media query */
@media only screen and (max-width: 520px) {
  .custom-div {
    display: none; /* Menghilangkan div jika lebar layar kurang dari atau sama dengan 500px */
  }
}

.responsive {
  width: 100%;
  height: auto;
}
